<ion-header>
  <ion-toolbar>
    <ion-buttons>      
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="informations">{{ informations.trackName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="informations">

      <p class="details-title">Publisher Description</p>
      
      <ion-item>
        <div *ngIf="showEllipsis; else noEllipsis">
          <div class="short-text">
            <span *nestedEllipsis="true; indicator moreAnchor" [innerHTML]="informations.description"></span>
            <ng-template #moreAnchor>
              <button (click)="showEllipsis = false">... More</button>
            </ng-template>
          </div>
        </div>

        <ng-template #noEllipsis>
          <div class="long-text">
            <span [innerHTML]="informations.description"></span>
            <button (click)="showEllipsis = true">Less</button>
          </div>
        </ng-template>
      </ion-item>

  </ion-list>

</ion-content>
