.details-title {
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-left: 15px;

    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1366px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (min-height: 1320px) {
        font-size: 24px;
    }
}

.short-text {
    flex: 1;
    width: inherit;
    height: 100px;
    overflow: hidden;
    text-align: justify-all;

    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1366px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (min-height: 1320px) {
        font-size: 24px;
    }
}

.long-text {
    width: auto;
    text-align: justify-all;

    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1366px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (min-height: 1320px) {
        font-size: 24px;
    }
}

button {
    background: transparent !important;
    font-weight: bold;
}
