.details-title {
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-left: 15px;
}

.short-text {
    flex: 1;
    width: inherit;
    height: 100px;
    overflow: hidden;
    text-align: justify-all;
}

.long-text {
    width: auto;
    text-align: justify-all;
}

button {
    background: transparent !important;
    font-weight: bold;
}
