.ion-label-title {
    height: 60%;
}

.title {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media(max-width: 2560px) {
        font-size: 18px;
    }

    @media(max-width: 1440px) {
        font-size: 12px;
    }

    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1366px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (min-height: 1320px) {
        font-size: 22px;
    }

    @media(max-width: 425px){
        font-size: 12px;
    }
}

.subtitle {
    font-size: 10px;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    color: gray;

    @media(max-width: 2560px) {
        font-size: 15px;
        width: 800px;
    }

    @media(max-width: 1440px) {
        font-size: 12px;
        width: 400px;
    }

    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1366px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (min-height: 1320px) {
        font-size: 18px;
        width: 300px;
    }

    @media(max-width: 425px) {
        width: 100px;
        font-size: 10px;
    }
}

.ebook-img {
    box-shadow: 0px 5px 5px 0px #ccc;
    -moz-box-shadow: 0px 5px 5px 0px #ccc;
    -webkit-box-shadow: 0px 5px 5px 0px #ccc;
    -khtml-box-shadow: 0px 5px 5px 0px #ccc;
}

.ion-item {
    --min-height: 100px;
}

.no-record-found {
    padding-left: 10px;
    padding-top: 20px;
}

img {
    width: auto !important;
}

.ion-label {
    min-height: 60px !important;
}
